@{
    ViewData["Title"] = "Blacklist Page";
}

<div class="blacklist-title">
    <div class="blacklist-item-a">
        <h3 style="font-family: DinoStyle; text-align: left; margin-top: 5px;">Blacklist</h3>
    </div>
    <div class="blacklist-item-b">
        <form>
            <input id="inputId" class="blacklist-input" type="text">
            <input id="inputBlacklist" type="submit" value="เพิ่ม" class="button button-primary">
        </form>
    </div>
</div>

<div class="blacklist-item">
    <div class="blacklist-item-a">
        <h3 class="blacklist-font">6101xxxx</h3>
    </div>
    <div class="blacklist-item-b">
        <input id="deleteBlacklist" type="submit" value="นำออก" style="margin: 15px;" class="button button-primary">
    </div>
</div>

<div class="blacklist-item">
    <div class="blacklist-item-a">
        <h3 class="blacklist-font">6101xxxx</h3>
    </div>
    <div class="blacklist-item-b">
        <input id="deleteBlacklist" type="submit" value="นำออก" style="margin: 15px;" class="button button-primary">
    </div>
</div>


