@model Dinolab.Models.DTOs.Requests.UserRegistrationRequestDTO

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - dinolab</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <a href="/home"><div class="navbar-brand"></div></a>
                <ul class="navbar-nav" id="menu">
                    <li>
                        <a href="#" class="nav-link" id="loginBtn">Login</a>
                    </li>
                    <li>
                        <button class="button button-primary" id="regBtn">Register</button>
                    </li>
                </ul>
                <div class="dropdown" id="userMenu">
                    <span id="username"></span>
                    <div class="dropdown-content">
                        <a href="/Profile">Profile</a>
                        <a href="/History">Booklist</a>
                        <a onclick="Logout()">Logout</a>
                    </div>
                </div>
                <div class="dropdown" id="adminMenu">
                    <span id="adminname"></span>
                    <div class="dropdown-content">
                        <a href="/Admin">Lab</a>
                        <a href="/Blacklist">Blacklist</a>
                        <a onclick="Logout()">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
        <div id="loginModal" class="modal">
            <div class="modal-content" id="loginForm">
                <span class="close" onclick="ModalClose()">&times;</span>
                <h2 style="margin-top: 2rem; margin-bottom: 2rem">Login</h2>
                <div>
                <div class="input-container">
                    <input type="email" class="input-field" placeholder="email" id="LoginEmail">
                    <span class="material-icons">email</span>
                    <div class="invalid" id="errEmail"></div>
                </div>
                <div class="input-container">
                    <input type="password" class="input-field" placeholder="password" id="LoginPassword">
                    <span class="material-icons">vpn_key</span>
                    <div class="invalid" id="errPassword"></div>
                </div>
                <div class="invalid" id="err"></div>
                <button onclick="Login()" style="padding: 15px 40px 15px 40px; margin-bottom: 2rem; margin-top: 2rem" class="button button-primary">OK</button>
                </div>
                <span>You didn't have an account? <a href="#" id="regLink">click here to Register</a></span>
            </div>
            <div class="modal-content-res" id="loginRes">
                <h4>Successful Login</h4>
                <button onclick="resClose()" class="button button-primary" style="padding: 15px 40px 15px 45px; margin-top: 2rem">OK</button>
            </div>
        </div>
        <div id="regModal" class="modal">
            <div class="modal-content" id="formContent">
                <span class="close" onclick="ModalClose()">&times;</span>
                <h2 style="margin-top: 2rem; margin-bottom: 2rem">Register</h2>
                <div>
                    <div class="input-container">
                        <input type="text" class="input-field" placeholder="name" name="Username" id="RegUsername" />
                        <span class="material-icons">people</span>
                        <div class="invalid" id="errUsername"></div>
                    </div>
                    <div class="input-container">
                        <input type="email" class="input-field" placeholder="email" name="Email" id="RegEmail" />
                        <span class="material-icons">email</span>
                        <div class="invalid" id="errEmailReg"></div>
                    </div>
                    <div class="input-container">
                        <input type="password" class="input-field" placeholder="password" name="Password" id="RegPassword" />
                        <span class="material-icons">vpn_key</span>
                        <div class="invalid" id="errPasswordReg"></div>
                    </div>
                    <div class="invalid" id="errReg"></div>
                    <button onclick="register()" style="padding: 15px 40px 15px 40px; margin-bottom: 2rem; margin-top: 2rem" class="button button-primary" />Register</button>
                </div>
                <span>You already have an account <a href="#" id="loginLink">click here to Login</a></span>
            </div>
            <div class="modal-content-res" id="formRes">
                <h4>Successful Registration</h4>
                <button onclick="resClose()" class="button button-primary" style="padding: 15px 40px 15px 45px; margin-top: 2rem">OK</button>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
            Copyright &copy; 2021 Dinolab. All Right Reserved
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
