@{
    ViewData["Title"] = "Profile Page";
}

<div class="topic-with-line">
    <h3>Profile</h3>
</div>


<div class="profile-name">
    <h3 style="font-family: DinoStyle; text-align: left;">Name : xxxxxxxxxx</h3>
</div>
<div class="profile-email">
    <h3 style="font-family: DinoStyle; text-align: left;">Email : 6101xxxx@kmitl.ac.th</h3>
</div>


<br><br>

<div class="topic-with-line">
    <h3>Booking History</h3>
</div>

<div class="item-info">
    <div class="item-image"></div>
    <div class="item-detail">
    <p>อุปกรณ์ : Arduino </p>
    <div class="item-space">
        <br><br>
    </div>
    <p>จำนวน : x</p>
    <div class="item-space">
        <br><br>
    </div>
    <p>เวลาที่ยืม : xx:xx - xx:xx</p>
    </div>
</div>

<div class="item-info">
    <div class="item-image"></div>
    <div class="item-detail">
    <p>อุปกรณ์ : Arduino </p>
    <div class="item-space">
        <br><br>
    </div>
    <p>จำนวน : x</p>
    <div class="item-space">
        <br><br>
    </div>
    <p>เวลาที่ยืม : xx:xx - xx:xx</p>
    </div>
</div>

<div class="item-info">
    <div class="item-image"></div>
    <div class="item-detail">
    <p>อุปกรณ์ : Arduino </p>
    <div class="item-space">
        <br><br>
    </div>
    <p>จำนวน : x</p>
    <div class="item-space">
        <br><br>
    </div>
    <p>เวลาที่ยืม : xx:xx - xx:xx</p>
    </div>
</div>


