@{
    ViewData["Title"] = "History Page";
}

<div class="topic-with-line">
    <h3>Currently Booked List</h3>
</div>

<div class="item-info">
    <div class="item-image"></div>
    <div class="item-detail">
    <p>อุปกรณ์ : Arduino </p>
    <div class="item-space">
        <br><br>
    </div>
    <p>จำนวน : x</p>
    <div class="item-space">
        <br><br>
    </div>
    <p>เวลาที่ยืม : xx:xx - xx:xx</p>
    </div>
    <input id="returnItem" type="submit" value="คืนอุปกรณ์" style="align-self: flex-end;">
</div>

<div class="item-info">
    <div class="item-image"></div>
    <div class="item-detail">
    <p>อุปกรณ์ : Arduino </p>
    <div class="item-space">
        <br><br>
    </div>
    <p>จำนวน : x</p>
    <div class="item-space">
        <br><br>
    </div>
    <p>เวลาที่ยืม : xx:xx - xx:xx</p>
    </div>
    <input id="returnItem" type="submit" value="คืนอุปกรณ์" style="align-self: flex-end;">
</div>

<div class="item-info">
    <div class="item-image"></div>
    <div class="item-detail">
    <p>อุปกรณ์ : Arduino </p>
    <div class="item-space">
        <br><br>
    </div>
    <p>จำนวน : x</p>
    <div class="item-space">
        <br><br>
    </div>
    <p>เวลาที่ยืม : xx:xx - xx:xx</p>
    </div>
    <input id="returnItem" type="submit" value="คืนอุปกรณ์" style="align-self: flex-end;">
</div>