@{
    ViewData["Title"] = "Home Page";
}

<div class="banner"></div>
<h4>Lab List</h4>
    <div class="lablist">
            @* <a href="#" id="left-button" class="button-arrow">
                <span class="material-icons">
                    chevron_left
                </span>
            </a>
            <a href="#" id="right-button" class="button-arrow">
                <span class="material-icons">
                    chevron_right
                </span>
            </a> *@
        <div class="lablist-list">
            <div><h1>HW</h1><br><h4>Laboratory</h4></div>
            <div><h1>NW</h1><br><h4>Laboratory</h4></div>
            <div><h1>SAIG</h1><br><h4>Laboratory</h4></div>
            <div><h1>HCL</h1><br><h4>Laboratory</h4></div>
            <div><h1>ESL</h1><br><h4>Laboratory</h4></div>
        </div>
    </div>
<h4 style="margin-top: 2rem">Popular Rental Item</h4>
<div class="item-rental">
    <div>
        <h4>Item name</h4>
        <h6>Lab name</h6>
    </div>
    <div>
        <h6>amount</h6>
    </div>
    <div>
        <h4>FULL</h4>
    </div>
</div>
<div class="item-rental">
    <div>
        <h4>Item name</h4>
        <h6>Lab name</h6>
    </div>
    <div>
        <h6>amount</h6>
    </div>
    <div>
        <h4>FULL</h4>
    </div>
</div>
<div class="item-rental">
    <div>
        <h4>Item name</h4>
        <h6>Lab name</h6>
    </div>
    <div>
        <h6>amount</h6>
    </div>
    <div>
        <h4>FULL</h4>
    </div>
</div>
