@{
    ViewData["Title"] = "Home Page";
}

<div class="banner"></div>
<h4>Lab List</h4>
    <div class="lablist">
        <div class="lablist-list">
            <div><a href="/book/lab/1"><h1>HW</h1><br><h4>Laboratory</h4></a></div>
            <div><a href="/book/lab/2"><h1>NW</h1><br><h4>Laboratory</h4></a></div>
            <div><a href="/book/lab/3"><h1>SAIG</h1><br><h4>Laboratory</h4></a></div>
            <div><a href="/book/lab/4"><h1>HCL</h1><br><h4>Laboratory</h4></a></div>
            <div><a href="/book/lab/5"><h1>ESL</h1><br><h4>Laboratory</h4></a></div>
            <div><a href="/SlothLab"><h3>Sloth<br>Flying</h3><br><h4>Laboratory</h4></a></div>
        </div>
    </div>
