@{
    ViewData["Title"] = "Home Page";
}

<div class="banner"></div>
<h4>Lab List</h4>
    <div class="lablist">
        <div class="lablist-list">
            <a href="/book/lab/1"><div><h1>HW</h1><br><h4>Laboratory</h4></div></a>
            <a href="/book/lab/2"><div><h1>NW</h1><br><h4>Laboratory</h4></div></a>
            <a href="/book/lab/3"><div><h1>SAIG</h1><br><h4>Laboratory</h4></div></a>
            <a href="/book/lab/4"><div><h1>HCL</h1><br><h4>Laboratory</h4></div></a>
            <a href="/book/lab/5"><div><h1>ESL</h1><br><h4>Laboratory</h4></div></a>
            <a href="/SlothLab?labNum=1"><div><h3>Sloth<br>Flying</h3><br><h4>Laboratory</h4></div></a>
        </div>
    </div>
