@{
    ViewData["Title"] = "Admin Page";
}

<div class="topic">
    <h3>Lab List</h3>
</div>
<div class="tab">
    <div class="tablist">
        <button class="tablist-item tab-active">
            <h5>HW Lab</h5>
        </button>
        <button class="tablist-item">
            <h5>NW Lab</h5>
        </button>
        <button class="tablist-item">
            <h5>SAIG Lab</h5>
        </button>
        <button class="tablist-item">
            <h5>HCL Lab</h5>
        </button>
        <button class="tablist-item">
            <h5>ESL Lab</h5>
        </button>
    </div>
</div>

<div class="item-info">
    <div class="item-image"></div>
    <div class="item-detail">
        <p>อุปกรณ์ : Arduino </p>
        <p>จำนวน : x</p>
        <br>
        <div class="item-space">
            <br><br>
        </div>
        <br>
        <input id="editInfo" type="submit" value="แก้ไข">
    </div>
</div>

<div class="topic">
    <h3>Book List</h3>
</div>

<div class="admin-title">
    <div class="grid-item-a">
        <h3 class="title-font">User</h3>
    </div>
    <div class="grid-item-b">
        <h3 class="title-font">Booking Time</h3>
    </div>
    <div class="grid-item-c">
        <h3 class="title-font">Cancel Booking</h3>
    </div>
</div>

<div class="admin-list-item">
    <div class="grid-item-a">
        <h3 class="title-font">6101xxxx</h3>
    </div>
    <div class="grid-item-b">
        <h3 class="title-font">xx:xx - xx:xx</h3>
    </div>
    <div class="grid-item-c">
        <input id="cancelBook" type="submit" value="ยกเลิก">
    </div>
</div>

<div class="admin-list-item">
    <div class="grid-item-a">
        <h3 class="title-font">6101xxxx</h3>
    </div>
    <div class="grid-item-b">
        <h3 class="title-font">xx:xx - xx:xx</h3>
    </div>
    <div class="grid-item-c">
        <input id="cancelBook" type="submit" value="ยกเลิก">
    </div>
</div>

